<h1>New user</h1>

<<<<<<< HEAD

=======
<<<<<<< HEAD
<%= render "form", user: @user %>
=======

>>>>>>> e127000 (Finish toy app)
>>>>>>> 4bf8b12 (Add build script)

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
